/* ---------------------------------------------- Fonts ---------------------------------------------------------- */
@font-face {font-family: "BankGothic";
  src: url("/fonts/BankGothic.eot"); /* IE9*/
  src: url("/fonts/BankGothic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/fonts/BankGothic.woff2") format("woff2"), /* chrome、firefox */
  url("/fonts/BankGothic/fonts/BankGothic/fonts/BankGothic.woff") format("woff"), /* chrome、firefox */
  url("/fonts/BankGothic/fonts/BankGothic.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/fonts/BankGothic.svg#BankGothic Bold") format("svg"); /* iOS 4.1- */
}
/**{margin:0;padding:0;list-style:none;}pre{border:solid 1px #e7e1cd;background-color:#fffdef;overflow:auto;font-size:12px;line-height:14px;margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;}.demo pre{color:#000;line-height: 1.2em;font-family:"BankGothic Bold"!important;font-size:22px;background-color:#FFF;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;}body{font-family:sans-serif;line-height:1.5;font-size:16px;padding:20px;color:#333;}:hover,:before,:after{-webkit-transition:all 0.1s ease-in;-moz-transition:all 0.1s ease-in;-ms-transition:all 0.1s ease-in;-o-transition:all 0.1s ease-in;transition:all 0.1s ease-in;}*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}a{color:#66A523;}h1.logo{font-size:40px;letter-spacing:-1px;margin-top:-16px;}h1.logo strong{font-size:16px;font-family:sans-serif;color:#333;}h1.logo a{color:#34302d;text-decoration:none;}h1.logo a span{color:#66A523;}h1.logo a small{color:#006699;}.info{float:left;font-size:14px;margin-top:15px;}.info ul{margin-left:0px;color:#111;margin-bottom:20px;}.info .exs{font-size:12px;color:#666;margin-left:35px;display:block;}.info ul li{margin-top:10px;list-style:none;}.info .numno{color:#fff;border-radius:20px;padding:1px;display:inline-block;width:22px;height:22px;text-align:center;margin-right:10px;background-color:#999999;}.info ul strong{font-weight:normal;color:#000;}.info .inst{font-size:22px;margin-bottom:10px;}.demo{float:left;width:100%;height:auto;border-top-width:1px;border-top-style:solid;border-top-color:#bbb;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#bbb;padding-bottom:10px;}.demo .demo_svg{float:left;height:auto;width:100px;margin-right:5px;margin-left:5px;margin-bottom:10px;}.demo .demo_svg i{float:left;height:80px;width:80px;text-align:center;font-size:40px;margin-left:10px;line-height:80px;color:#777;}.demo .demo_svg .code{float:left;height:20px;width:100%;overflow:hidden;text-align:center;line-height:20px;font-size:11px;color:#666;}.demo .demo_svg .txt{float:left;height:20px;width:100%;font-size:11px;text-align:center;white-space:nowrap;overflow:hidden;line-height:20px;}.demo .demo_svg:hover i{font-size:60px;color:#333;}.by{padding-top:15px;float:left;width:100%;margin-top:10px;margin-right:0;margin-bottom:10px;margin-left:0;}.by{margin-bottom:10px;font-size:20px;}.by .attr{font-size:14px;color:#333;padding-top:10px;padding-bottom:10px;}textarea{width:80%;height:auto;border:1px solid #CCC;resize:none;background:#EEE;padding:20px;float:left;margin-top:10px;line-height:30px;}#footer{float:left;width:100%;margin-top:10px;padding-bottom:20px;}h2{background-color:#000;padding-top:10px;padding-bottom:10px;padding-left:10px;color:#FFF;}*/

@font-face {
	font-family: 'TWcentury';
	src: url('/fonts/Twcentury.eot');
	src: local('TWcentury'), url('/fonts/Twcentury.woff') format('woff'), url('/fonts/Twcentury.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_13141">Text with this font applied</p> */
.fontsforweb_fontid_13141 {
	font-family: 'TWcentury' !important;
}

/* -------------------------------------------------------------------------------------------------------------- */

body {
    font-family: TWcentury, BankGothic, arial, helvetica, sans-serif;
    margin:0;
    background:#1c1c1c;
}

@media(max-width:600px) {

    .navbar {
        display: none;
    }

    .sidenavleft {
        display: none;
    }

    .sidenavright {
        display: none;
    }

    .footer .inner_footer .footer_third a {
        width: 10%;
    }

}

.maintitleindex h1 {
    margin: 0;
    padding:0;
    overflow: hidden;
    position: fixed;
    font-size: 1.3vw;
    top: 3%;
    left: 4%;
    transform: translate(-1.25%, -4%);
    text-shadow:1px 0 0 black,0 1px 0 black,-1px 0 0 black,0 -1px 0 black;
    color:white
}
 
.maintitleindex img {
    width:2%;
    position: fixed;
    top: 2%;
    left: 1%;
    transform: translate(-3%, -1%);
}

.welcome {
    font-family: 'BankGothic' !important;
    color:#cccbcb;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4vw;
    text-shadow: 2px 2px 4px black;
}

.comingsoon {
    font-family: 'BankGothic' !important;
    color:#cccbcb;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.94vw;
    text-shadow: 2px 2px 4px black;
}

.comingsoon2 {
    font-family: 'BankGothic' !important;
    color:#cccbcb;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    text-shadow: 2px 2px 4px black;
}

.button {
    background-color: #235163;
    border: none;
    color: white;
    padding: 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 4px 2px;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.button:hover {
    background-color:#32728b;
    transition: background-color .5s;
}

.mainpagelogo {
    width: 15%;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.beginarrow {
    width: 2%;
    position: absolute;
    top: 50.5%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.getstartedbutton {
    width: 20%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footerindex {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
}

.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.inner_footer .footer_third {
    height: 100%;
}

.inner_footer .footer_third a{
    font-size: 1.5vw;
    color: #DCDCDC;
    display: block;
    padding: 0 .33vw;

}

.inner_footer .footer_third a:hover {
    color: #7a7a7a;
}

.inner_footer .footer_third li {
    display: inline-block;
}

.footer {
    z-index: 3;
    padding: 20px 0;
    position: relative;
    bottom: 0;
}

.navbarindex {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbarli {
    float: right;
    font-weight: bold;
}

.navbarli a {
    display: block;
    color:#707070;
    text-align: center;
    padding:1em;
    font-size: .75vw;
    text-decoration: none;
}

.navbarli a:hover {
   color:#DCDCDC;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: rgb(26, 26, 26);
}

.sidenavleft {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #1c1c1c;
    padding-top: 4.5vw;
}

.sidenavleft a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 1vw;
    color: #818181;
    display: block;
}

.sidenavleft a:hover {
    color: #DCDCDC;
}

.sidenavright {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #1c1c1c;
    padding-top: 4.5vw;
}

.sidenavright a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 1vw;
    color: #818181;
    display: block;
}

.sidenavright ul {
    padding: 0px 0px 0px 17px;
    font-size: 0vw;
    text-decoration: none;
    color: #818181;
    display: block;
}

.sidenavright a:hover {
    color: #DCDCDC;
}

.titlecontainer {
    background-color: #1c1c1c;
}

.maintitle {
    z-index: 1;
    background-color: #1c1c1c;
}

.maintitle h1 {
    color:#DCDCDC;
    z-index: 4;
    margin: 0;
    padding:0;
    overflow: hidden;
    position: fixed;
    font-size: 1vw;
    top: 3%;
    left: 4%;
    transform: translate(-1.25%, -4%);
}

.maintitle img {
    width:2%;
    position: fixed;
    top: 1.35%;
    left: 1%;
    z-index: 4;
    transform: translate(-3%, -1%);
}

.backarrow {
    width:5%;
    margin-left:13vw;
}

.forwardarrow {
    width:5%;
    margin-left:63vw;
}

.fullheader {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    margin-top:6vw;
    margin-right: 12vw;
    margin-left: 12vw;
    color:darkorange;
    font-size: calc(22.5px + 1vw);
    word-wrap: breakword;
}

.fullheader p {
    font-weight: normal;
    color:#DCDCDC;
    padding-top: .75vw;
    padding-right: 15vw;
    font-size: calc(15px + .5vw);
    word-wrap: break-word;
}

.subheader {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    margin: 1.35vw 12vw;
    color:#DCDCDC;
    font-size: calc(10px + 1vw);
    word-wrap: break-word;
}

.subheader::before {
    
    display: block;
    content: " ";
    margin-top: -200px;
    height: 200px;
    visibility: hidden;
    pointer-events: none;
}

.subparagraph {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    color:#DCDCDC;
    margin:0 12vw;
    padding-right: 15vw;
    font-size: calc(10px + .45vw);
    line-height:1.75em;
}

.subparagraph h2 {
    color:#DCDCDC;
}

.subparagraph a {
    color:rgb(51, 122, 183);
    text-decoration: none;
    font-size: calc(10px + .45vw);
}

.subparagraph a:hover {
    text-decoration: underline;
}

.standard_ul {
    color:#DCDCDC;
    margin:0 12vw;
    padding-right: 15vw;
    font-size: calc(10px + .45vw);
    line-height:1.75em;
}

.standard_ul li {
  padding: .2vw;
}

.standard_ul a {
    color:rgb(51, 122, 183);
    text-decoration: none;
    font-size: calc(10px + .45vw);
}

.standard_ul a:hover {
    text-decoration: underline;
}

.smallheader {
    margin: 1vw 12vw;
    margin-top:1.4vw;
    color:#DCDCDC;
    font-size: calc(15px + .45vw);
    word-wrap: break-word;
    line-height:1.75em;
}

.smallheader::before {
    display: block;
    content: " ";
    margin-top: -200px;
    height: 200px;
    visibility: hidden;
    pointer-events: none;
}

.internallink {
    text-decoration: none;
}

.internallink:hover {
    cursor:text;
}

.blockquote {
    color:#DCDCDC;
    background-color: #1c1c1c;
    font-size: calc(10px + .3vw);
    border-left: 6px solid rgb(218, 124, 3);
    padding: 0 10px;
    margin-left: 12vw;
    margin-right:26vw;
    line-height:1.75em;
}

.blockquote a {
    color:rgb(51, 122, 183);
    text-decoration: none;
    font-size: calc(10px + .3vw);
}

.blockquote a:hover {
    text-decoration: underline;
}

.standard_ol {
    color:#DCDCDC;
    margin:0 12vw;
    padding-right: 15vw;
    font-size: calc(10px + .45vw);
    line-height:1.75em;
}

.standard_ol li {
  padding: .2vw;
}

.standard_ol a {
    color:rgb(51, 122, 183);
    text-decoration: none;
    font-size: calc(10px + .45vw);
}

.standard_ol a:hover {
    text-decoration: underline;
}

.smalllist {
    font-size: .75vw;
    line-height: 1.3em;
}

.smallheader a {
    padding-top: 1vw;
    color:rgb(51, 122, 183);
    text-decoration: none;
}

.smallheader a:hover {
    text-decoration: underline;
}

.install {
    margin-right: 12vw;
    margin-left: 12vw;
    color:orange;
    padding-right: 15vw;
    font-size: calc(11px + .5vw);
    word-wrap: break-word;
}

.install::before {
    display: block;
    content: " ";
    margin-top: -200px;
    height: 200px;
    visibility: hidden;
    pointer-events: none;
}

.imgsize {
    width:100%;
    height:550px;
    object-fit:cover;
    object-position:50% 50%;
}

code {
    background-color:rgb(52, 52, 54);
    padding: 0px 5px;
}

strong {
    color:rgb(250, 173, 121);
}

.spoiler {
    color:rgb(31, 31, 31);
    background-color:rgb(31, 31, 31);
    padding: 0 5px;
}

.spoiler:hover{
    color:#DCDCDC;
    background-color:rgb(52, 52, 54);
    transition-duration: 300ms;
}
